
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////


pos-webapp/node_modules
#pos-webapp/frontend/node_modules/
pos-webapp/frontend/.next/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/



#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
#.idea/